* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-1 {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  animation-name: header1slide;
  animation-duration: 2.5s;
}
.header-1 .email-phone {
  padding: 10px;
  margin-left: 50px;
}
.header-1 .email-phone:hover {
  color: #fc0362;
}
.header-1 .email-phone a {
  text-decoration: none;
  color: #acacac;
  font-size: 18px;
  transition: 0.4s ease-in-out;
}
.header-1 .email-phone a:hover {
  color: #fc0362;
}
.header-1 .email-phone .fa-solid {
  padding: 5px;
  color: #bfbfbf;
}
.header-1 .email-phone .fa-solid:hover {
  color: #fc0362;
}
.header-1 .social-media {
  margin-right: 50px;
}
.header-1 .social-media .fa-brands {
  font-size: 24px;
  padding: 5px;
  transition: 0.4s ease-in-out;
  color: #bdbdbd;
}
.header-1 .social-media .fa-brands:hover {
  color: #fc0362;
}
/* ----------------------Header 2 -------------------------*/
.header-2 {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  box-shadow: 2px 2px 5px rgb(183, 183, 183);
}
.header-2 .logo h1 {
  margin-left: 50px;
  font-size: 45px;
  padding: 0px 0px;
  animation-name: slidelogo;
  animation-duration: 2s;
}
.header-2 .logo #capital-a {
  font-size: 56px;
  color: #fc0362;
}
.header-2 .navigation {
  display: flex;
  margin-right: 50px;
}
.header-2 .navigation li {
  list-style-type: none;
}
.header-2 .navigation li a {
  text-decoration: none;
  padding: 20px 20px;
  font-size: 18px;
  color: black;
  transition: 0.4s ease-in-out;
}
.header-2 .navigation li a:hover {
  color: #fc0362;
}
.header-2 .navigation li #Free-Quote {
  margin-left: 35px;
  color: #fc0362;
  transition: 0.4s ease-in-out;
  padding: 10px 15px;
  border: 2px solid #fc0362;
  border-radius: 20px;
}
.header-2 .navigation li #Free-Quote:hover {
  background-color: #fc0362;
  color: white;
}
.nav-button {
  display: none;
}
.nav-button .fa-solid {
  animation-name: fabar;
  animation-duration: 2s;
}
@keyframes slidelogo {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fabar {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes header1slide {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .header-1 {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .header-1 .email-phone {
    display: block;
    margin-left: 10px;
  }
  .header-1 .social-media {
    display: flex;
  }
  .header-2 {
    justify-content: space-between;
  }
  .header-2 .logo h1 {
    margin-left: 10px;
  }
  .header-2 .navigation {
    display: none;
  }
  .nav-button {
    display: block;
  }
  .nav-button .fa-solid {
    font-size: 30px;
    margin-right: 10px;
  }
  .nav-button .fa-x {
    display: none;
  }
}
.hero-header {
  width: 100%;
  height: auto;
  background-image: url("./images/slider-right-dec.jpg");
}
.hero-header .row {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: heroheaderrow;
  animation-duration: 1s;
  padding: 50px 0px;
}
.hero-header .row .col-1 {
  flex-basis: 45%;
  animation-name: columnone;
  animation-duration: 1.5s;
}
.hero-header .row .col-1 h2 {
  font-size: 42px;
  padding: 20px 0px;
  color: black;
}
.hero-header .row .col-1 h1 {
  font-size: 56px;
  padding: 5px 0px;
  color: #fc0362;
}
.hero-header .row .col-1 p {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 30px;
}

.hero-header .row .col-2 {
  flex-basis: 45%;
  animation-name: columntwo;
  animation-duration: 1.5s;
}
.hero-header .row .col-2 img {
  width: 100%;
  aspect-ratio: 16/9;
  padding: 50px;
}
@keyframes heroheaderrow {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes columnone {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes columntwo {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .hero-header .row {
    text-align: center;
    display: block;
  }
  .hero-header .row .col-1 h1 {
    font-size: 42px;
    padding: 5px 0px;
    color: #fc0362;
  }
  .hero-header .row .col-1 h2 {
    font-size: 36px;
    padding: 20px 0px;
    color: black;
  }
  .hero-header .row .col-1 p {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
  }
}
.game-button {
  position: absolute;
  padding: 15px 30px;
  font-size: 16px;
  background-color: rgba(255, 1, 115, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: left 0.5s ease, top 0.5s ease, background-color 0.3s;
}
.game-button:hover {
  background-color: #2c81ba;
}
@media only screen and (max-width: 1200px) {
  .game-button {
    display: none;
  }
}
.aboutus-section {
  width: 100%;
}
.aboutus-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus-section .row .col-1 {
  flex-basis: 45%;
  animation-name: aboutuscol1slide;
  animation-duration: 2s;
}
.aboutus-section .row .col-1 img {
  aspect-ratio: 16 / 9;
}

.aboutus-section .row .col-2 {
  flex-basis: 45%;
  animation-name: aboutuscol2slide;
  animation-duration: 2s;
}
.aboutus-section .row .col-2 h1 {
  font-size: 42px;
  padding: 20px 0px;
  color: rgb(1, 215, 187);
}
.aboutus-section .row .col-2 h2 {
  font-size: 56px;
  padding: 5px 0px;
  color: #fc0362;
}

.aboutus-section .row .col-2 p {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 30px;
}
.circle-container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 20px auto;
  display: inline-block;
}
.progress-circle {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}
.progress-circle circle {
  fill: none;
  stroke-width: 15;
  cx: 75;
  cy: 75;
  r: 60;
  stroke-linecap: round;
}
.background {
  stroke: #e0e0e0;
}
.progress {
  stroke: #fc0362;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  transition: stroke-dashoffset 2s ease;
}
.label {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@keyframes aboutuscol1slide {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes aboutuscol2slide {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .aboutus-section .row {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 5px solid black;
  }
  .aboutus-section .row .col-1 img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .aboutus-section .row .col-2 h1 {
    font-size: 36px;
    padding: 20px 0px;
    color: rgb(1, 215, 187);
  }
  .aboutus-section .row .col-2 h2 {
    font-size: 42px;
    padding: 5px 0px;
    color: #fc0362;
  }
  .aboutus-section .row .col-2 p {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

.services-1 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-1 .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-1 h1 {
  font-size: 42px;
  padding: 20px 0px;
  color: #4d02fd;
}
.services-1 h2 {
  font-size: 56px;
  padding: 10px 0px;
  color: #ff8800;
}
.services-1 .services-list button {
  margin: 10px;
}
.services-1 .services-list .row .icon-container .fa-webflow {
  font-size: 80px;
  margin: 20px;
  transition: 0.3s ease-in-out;
}
.services-1 .services-list .row .icon-container .fa-cube {
  font-size: 80px;
  margin: 20px;
  transition: 0.3s ease-in-out;
}
.services-1 .services-list .row .icon-container .fa-chart-simple {
  font-size: 80px;
  margin: 20px;
  transition: 0.3s ease-in-out;
}
.services-1 .services-list button {
  background-color: white;
  border: none;
  border-radius: 20px;
}
.services-1 .services-list button:focus {
  background-color: #fc0362;
  color: #fff;
}
.services-1 .services-list .content-container {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.content .col-22-1 img {
  width: 600px;
  aspect-ratio: 16 / 9;
}
.services-1 .services-list .content-container p {
  font-size: 30px;
  padding: 20px;
}
.content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content .col-21-1 {
  animation-name: columnone1;
  animation-duration: 1.5s;
}
.content .col-21-2 {
  animation-name: columntwo2;
  animation-duration: 1.5s;
}
.content .col-22-1 {
  animation-name: columnone1;
  animation-duration: 1.5s;
}
.content .col-22-2 {
  animation-name: columntwo2;
  animation-duration: 1.5s;
}
.content .col-23-1 {
  animation-name: columnone1;
  animation-duration: 1.5s;
}
.content .col-23-2 {
  animation-name: columntwo2;
  animation-duration: 1.5s;
}
.content img {
  aspect-ratio: 16/9;
}

.services-1 .services-list .content-container .content .col-21-2 h3 {
  font-size: 28px;
}
.services-1 .services-list .content-container .content .col-22-2 h3 {
  font-size: 28px;
}
.services-1 .services-list .content-container .content .col-23-2 h3 {
  font-size: 28px;
}
.content {
  display: none; /* Hide all content divs by default */
}

#div1 {
  display: flex; /* Show content for Icon 1 by default */
}
@keyframes columnone1 {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes columntwo2 {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1200px) {
  .services-1 h1 {
    font-size: 36px;
    padding: 5px 0px;
    color: #4d02fd;
  }
  .services-1 h2 {
    font-size: 42px;
    padding: 5px 0px;
    color: #ff8800;
  }
  .services-1 .services-list .row .icon-container .fa-webflow {
    font-size: 40px;
    margin: 5px;
    transition: 0.3s ease-in-out;
  }
  .services-1 .services-list .row .icon-container .fa-cube {
    font-size: 40px;
    margin: 5px;
    transition: 0.3s ease-in-out;
  }
  .services-1 .services-list .row .icon-container .fa-chart-simple {
    font-size: 40px;
    margin: 5px;
    transition: 0.3s ease-in-out;
  }
  .icon-container {
    flex-direction: column; /* Stack icons vertically */
    gap: 10px; /* Reduce gap between icons */
  }

  .icon {
    padding: 15px; /* Increase padding for easier tapping */
    font-size: 18px; /* Increase font size for readability */
  }

  .content-container {
    display: inline-block;
    /* Use full width on smaller screens */
    padding: 0 10px; /* Add side padding for better alignment */
  }
}
.portfolio-projects {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.portfolio-projects h1 {
  font-size: 42px;
  padding: 20px 0px;
  color: #fc0362;
}
.portfolio-projects h2 {
  font-size: 36px;
  padding: 10px 0px;
}
.portfolio-projects .row {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px 0px;
}
.portfolio-projects .row .col1 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid #ebebeb;
  animation-name: columnslides1;
  animation-duration: 0.5s;
}
.portfolio-projects .row .col2 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid #ebebeb;
  animation-name: columnslides2;
  animation-duration: 1s;
}
.portfolio-projects .row .col3 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid #ebebeb;
  animation-name: columnslides3;
  animation-duration: 1.5s;
}
.portfolio-projects .row .col4 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid #ebebeb;
  animation-name: columnslides4;
  animation-duration: 2s;
}
.portfolio-projects .row .col1:hover {
  box-shadow: 1px 1px 3px #fc0362, 1px 1px 3px #fc0362, 1px 1px 3px #fc0362,
    1px 1px 3px #fc0362;
  scale: 1.1;
}
.portfolio-projects .row .col2:hover {
  box-shadow: 1px 1px 3px #fc0362, 1px 1px 3px #fc0362, 1px 1px 3px #fc0362,
    1px 1px 3px #fc0362;
  scale: 1.1;
}
.portfolio-projects .row .col3:hover {
  box-shadow: 1px 1px 3px #fc0362, 1px 1px 3px #fc0362, 1px 1px 3px #fc0362,
    1px 1px 3px #fc0362;
  scale: 1.1;
}
.portfolio-projects .row .col4:hover {
  box-shadow: 1px 1px 3px #fc0362, 1px 1px 3px #fc0362, 1px 1px 3px #fc0362,
    1px 1px 3px #fc0362;
  scale: 1.1;
}
.portfolio-projects .row .col1 img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.portfolio-projects .row .col2 img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.portfolio-projects .row .col3 img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.portfolio-projects .row .col4 img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.portfolio-projects .row .col1 h3 {
  font-size: 26px;
}
.portfolio-projects .row .col2 h3 {
  font-size: 26px;
}
.portfolio-projects .row .col3 h3 {
  font-size: 26px;
}
.portfolio-projects .row .col4 h3 {
  font-size: 26px;
}
.portfolio-projects .row .col1 button {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 20px;
}
.portfolio-projects .row .col2 button {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 20px;
}
.portfolio-projects .row .col3 button {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 20px;
}
.portfolio-projects .row .col4 button {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 20px;
}
.portfolio-projects .row .col1 button:hover {
  background-color: #fc0362;
  color: white;
}
.portfolio-projects .row .col2 button:hover {
  background-color: #fc0362;
  color: white;
}
.portfolio-projects .row .col3 button:hover {
  background-color: #fc0362;
  color: white;
}
.portfolio-projects .row .col4 button:hover {
  background-color: #fc0362;
  color: white;
}
.portfolio-projects .row .col1 p {
  font-size: 16px;
  padding: 20px 20px;
}
.portfolio-projects .row .col2 p {
  font-size: 16px;
  padding: 20px 20px;
}
.portfolio-projects .row .col3 p {
  font-size: 16px;
  padding: 20px 20px;
}
.portfolio-projects .row .col4 p {
  font-size: 16px;
  padding: 20px 20px;
}
@keyframes columnslides1 {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes columnslides2 {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes columnslides3 {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes columnslides4 {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .portfolio-projects .row {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 25px 0px;
  }
  .portfolio-projects .row .col1 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  animation-name: columnslides1;
  animation-duration: 0.5s;
}
.portfolio-projects .row .col2 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  animation-name: columnslides2;
  animation-duration: 1s;
}
.portfolio-projects .row .col3 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  animation-name: columnslides3;
  animation-duration: 1.5s;
}
.portfolio-projects .row .col4 {
  flex-basis: 20%;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  animation-name: columnslides4;
  animation-duration: 2s;
}
  
}
